<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TesteIOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FA9FAC21262B4A2500F58F36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA9FAC37262B4A2600F58F36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA9FAC42262B4A2600F58F36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
